<!DOCTYPE html>
<html lang="cs">
<head>
    <!-- Meta, title, CSS, favicons, etc.
     TODO doladit hlavičku-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- TODO správný title -->
    <title>Sem pr web</title>

    <!-- Bootstrap core CSS -->
    <link href="{{bootstrap_css}}" rel="stylesheet">
    <!-- Optional Bootstrap Theme -->
    <link href="{{bootstrap_theme}}" rel="stylesheet">

    <!-- My CSS -->
    <link href="{{my_css}}" rel="stylesheet">

    <!-- TODO favicon projektu -->
    <link rel="icon" href="{{favico}}">

</head>
<body>
 <!-- LOGED BAR -->
        {% include 'default/loggedbar.html' %}

    <div class="container">

            <!-- HEADER -->
            <div class="row">
               <a href="./index.php">
                <div class="col-xs-12 header">
                    <img src="{{header_img}}" class="col-xs-12">
                </div>
               </a>
           </div>

            <!-- NAVIGATION -->
            <div class="row">
                <div class="col-xs-12 rounded" id="navbar">
                    <ol class="col-xs-12 breadcrumb rounded">
                        {% for item in navbar %}
                        <li><a href="{{ item.href }}">{{ item.text }}</a></li>
                        {% endfor %}
                        <li class="active">{{navbar_last}}</li>
                    </ol>
                </div>
            </div>


            <div class="row">

                <!-- CONTENT -->
                <div class="col-xs-9 content rounded">
                    {% include 'default/content.html' %}
                </div>

                <!-- RIGHT BAR -->
                <div class="col-xs-offset-0 col-xs-3 right-menu rounded my-right">
                     {% include 'default/menu.html' %}
                </div>

           </div>

            <!-- FOOTER -->
            <footer class="row">
                <a href="{{footer_left_a}}" target="_blank">
                    <div class="col-xs-6 footer rounded">
                       <p class="text-center h4">{{footer_left}}</p>
                    </div>
                </a>
                <a href="{{footer_right_a}}" target="_blank">
                    <div class=" col-xs-offset-0 col-xs-6 footer rounded">
                        <p class="text-center h4">{{footer_right}}</p>
                    </div>
                </a>
            </footer>

    </div>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{bootstrap_js}}"></script>

</body>
</html>