<!DOCTYPE html>
<html lang="cs">
<head>
    <!-- Meta, title, CSS, favicons, etc.
     TODO doladit hlavičku-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- TODO správný title -->
    <title>Sem pr web</title>

    <!-- Bootstrap core CSS -->
    <link href="{{bootstrap_css}}" rel="stylesheet">
    <!-- Optional Bootstrap Theme -->
    <link href="{{bootstrap_theme}}" rel="stylesheet">

    <!-- My CSS -->
    <link href="{{my_css}}" rel="stylesheet">

    <!-- TODO favicon projektu -->
    <link rel="icon" href="{{favico}}">

</head>
<body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">werdgs</a></li>
                                <li><a href="#">Hry</a></li>
                                <li><a href="#">R</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

  <!-- HEADER -->

        <div class="container">
           <div class="row">
                <div class="col-xs-12 header">
                    <img src="{{header_img}}" class="col-xs-12">
                </div>
           </div>
  <!-- NAVIGATION -->
            <div class="row">
                <div class="col-xs-12 menu rounded" id="navbar">
                    <ol class="col-xs-12 breadcrumb rounded">
                        {% for item in navbar %}
                        <li><a href="{{ item.href }}">{{ item.text }}</a></li>
                        {% endfor %}
                        <li class="active">{{navbar_last}}</li>
                    </ol>
                </div>
            </div>

  <!-- CONTENT -->
            <div class="row">
                <div class="col-xs-9 content rounded">
                   <h1>{{nadpis}}</h1>
                        {{obsah | raw}}
                </div>
  <!-- RIGHT BAR -->
                <div class="col-xs-offset-0 col-xs-3 right-menu rounded my-right">
         <!-- MENU -->
                    <ul class="list-group my-right" id="menu">
                        {% for item in menu %}
                        <li class="list-group-item"><a href="{{ item.href }}">{{ item.text }}</a></li>
                        {% endfor %}
                    </ul>
         <!-- LOG FORM -->
                    <ul class="list-group my-right">
                        <form method="post">
                            <li class="list-group-item">

                                             <input type="text" class="form-control" placeholder="E-mail" name="login">
                                <div class="input-group">
                                             <input type="password" class="form-control" placeholder="Heslo" name="pass">
                                             <span class="input-group-btn">
                                                 <button class="btn btn-default" type="submit">Přihlaš</button>
                                             </span>
                                 </div>
                            </li>
                        </form>
                    </ul>
                </div>

            </div>
  <!-- FOOTER -->
            <footer class="row">
                <a href="{{footer_left_a}}" target="_blank">
                    <div class="col-xs-6 footer rounded">
                       <p class="text-center h4">{{footer_left}}</p>
                    </div>
                </a>
                <a href="{{footer_right_a}}" target="_blank">
                    <div class=" col-xs-offset-0 col-xs-6 footer rounded">
                        <p class="text-center h4">{{footer_right}}</p>
                    </div>
                </a>
            </footer>

        </div>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./application/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>