<!-- DATABÁZOVÉ HLÁŠKY -->

{% for item in data.error %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Chyba:</span>
    {{item}}
</div>
{% endfor %}

{% if data.success|length > 0 %}
<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <span class="sr-only">OK:</span>
    {{data.success}}
</div>
{% endif %}


<!-- NADPIS H1 -->
<h1 id="h1">{{nadpis}}</h1>

{% if content == 'text' %}
 <!-- sPROSTÝ TEXT V HTML -->
    {{obsah | raw}}

<!-- REGISTRAČNÍ FORMULÁŘ -->
{% elseif content == 'regform' %}
    <p>{{info}}</p>
    {% include 'default/form/regform.html' %}

<!-- TABULKA UŽIVATELŮ -->
{% elseif content == 'table_user' %}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr> <th>Jméno</th> <th>Příjmení</th><th>Přezdívka</th>
            <th>Věk</th><th>Pohlaví</th><th>Telefon</th><th>Mail</th>
            <th>Typ účtu</th>
        </tr>
        {%for user in users %}

        <tr> <td>{{user.jmeno}}</td> <td>{{user.prijmeni}}</td><td>{{user.prezdivka}}</td>
            <td>{{user.vek}}</td><td>{{user.pohlaviS}}</td><td>{{user.mobil}}</td><td>{{user.email}}</td>
            <td>{{user.typuctuS}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<!-- CREATE UVEDENI -->
{% elseif content == 'vuved' %}
    <h2>{{titleform}}</h2>
        <p>{{info}}</p>
{% include 'default/form/create_performance.html' %}
    <h2>{{titlelist}}</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr> <th>Čas začátku</th><th>Hra</th><th>Místo</th>
        </tr>
        {%for performance in performances %}

        <tr> <td>{{performance.zacatek}}</td> <td>{{performance.nazevHry}}</td><td>{{performance.nazev}}</td>
                                <td><button onclick="{{performance.delA}}" class="btn btn-block btn-info">Smazat</button></td>
        </tr>
        {% endfor %}
    </table>
</div>


<!-- MANAGEMENT MISTO -->
{% elseif content == 'smisto' %}
{% for item in a %}
<a href="{{item.href}}" ><button class="btn btn-info">{{item.title}}</button></a>
{% endfor %}

<p>{{info}}</p>

<!-- LIST MISTO -->
{% elseif content == 'lmisto' %}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr> <th>Název</th><th>Adresa</th><th>GPS</th>
        </tr>
        {%for place in places %}
        <tr> <td>{{place.nazev}}</td> <td>{{place.ulice}} {{place.cp}}</td><td>{{place.gps}}</td>
            <td><button onclick="{{place.delA}}" class="btn btn-block btn-info">Smazat</button>
                <button onclick="{{place.updateA}}" class="btn btn-block btn-info">Upravit</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- CREATE MISTO -->
{% elseif content == 'vmisto' %}
    <p>{{info}}</p>
    {% include 'default/form/create_misto.html' %}
<!-- CREATE HRA -->
{% elseif content == 'vhra' %}
    <p>{{info}}</p>
    {% include 'default/form/create_hra.html' %}
{% endif %}