<form role="form" method="post">
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <div class="input-group">
                    <span class="input-group-addon {% if place_fail.name == true  %} alert-danger {% endif %} ">Název místa</span>
                    <input type="text"
                           class="form-control"
                           name="name"
                           placeholder="Název místa"
                           maxlength="60"
                           required
                           value="{{place.name}}"
                            >
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="form-group">
            <div class="col-md-offset-1 col-md-8">
                <div class="input-group">
                    <span class="input-group-addon {% if place_fail.street == true  %} alert-danger {% endif %}">
                        Ulice
                    </span>
                    <input type="text"
                           class="form-control"
                           name="street"
                           placeholder="Adresa"
                           maxlength="100"
                           required
                           value="{{place.street}}"
                            >
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon {% if place_fail.cp == true  %} alert-danger {% endif %}">
                        ČP
                    </span>
                    <input type="text"
                           class="form-control"
                           name="cp"
                           placeholder="ČP"
                           maxlength="11"
                           value="{{place.cp}}"
                           >
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <div class="input-group">
                <span class="input-group-addon {% if place_fail.gps == true  %} alert-danger {% endif %}">
                     <span class="glyphicon glyphicon-globe"></span>
                </span>
                <input type="text"
                       placeholder="GPS"
                       maxlength="45"
                       class="form-control"
                       required
                       value="{{place.gps}}"
                       name="gps"
                        >
            </div>
        </div>

        <div class=" col-md-4">
            <div class="input-group">
                <span class="input-group-addon {% if place_fail.capacity == true  %} alert-danger {% endif %}">
                     <span class="glyphicon glyphicon-tower "></span>
                </span>
                <input type="text"
                       placeholder="Kapacita her"
                       maxlength="11"
                       class="form-control"
                       required
                       value="{{place.capacity}}"
                       name="capacity"
                        >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="input-group">
                <span class="input-group-addon {% if place_fail.popis == true  %} alert-danger {% endif %}">Popis</span>
                <textarea
                        placeholder="Popis místa, dopravy, atp..."
                       class="form-control tinymce"
                       name="text"
                       rows="10"
                       spellcheck="true"
                        >{% if place.text|length >0 %}{{place.text | raw}}{% endif %}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <input type="hidden" name="do" value="create">
            <button type="submit"  class="btn btn-default" formaction="?id=vmisto{{place.val}}#body">{{formSubmit}}</button>
        </div>
    </div>
</form>